* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #a41313;
}


body {
  font-family: 'Open Sans', sans-serif;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

header {
color:white
}


.headertext {
  font-size: 24px;
  margin-bottom: 20px; /* between paragraphs */

}
.headertexttwo {
  font-size: 40px;
  margin-bottom: 15px; /* between paragraphs */
}

.headertextthree {
  font-size: 40px;
  color: #ff8585;
}

.body {
  margin: 25px;
  background-color: #a41313;
  color: white;
}

.body {
  /* display: flex;
  justify-content: space-evenly; */
  box-sizing: border-box;
  min-width: 300px;
  /* margin: 15px 15px; */
  padding: 10px;
}

.topnav {
  display: flex;
  justify-content: space-evenly;
  /* margin: 2px; */
  margin-top: ;
  text-decoration: none;
  color:white

}


.bottomnav {
  display: flex;
  justify-content: left;
  margin: 5px;
  margin-top: 20px;
  text-decoration: none;

}

.button {
  background-color: #fadada;
  border: none;
  color: black;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 7px;
  background-color: #fadada;
  padding: 8px 16px;

}
a {
  color: black;
  text-decoration: none;
}

p {
  margin: 10px;
  color:white;
  background-color: firebrick;
  opacity: 0.9;
  border-radius: 7px;
  font-size: 18px;
}

img {
  /* max-width: 100%; */
    min-width: 50%;
    max-width: 100%;
    height: auto;
    border-radius: 7px;
  
}
.row {
  margin-top: 5px;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}
/* 
[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
} */

@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.btn {
  background-color: rgb(167, 10, 10);
  border: black;
  color: white;
  opacity: 0.3;
  padding: 17px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
  border-radius: 10px;
  border-style: solid;
}
.footer {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
  /* max-width: 1000px; */
}
.footertext {
  position: absolute;
  right: 5%;
  bottom: 5%;
}
* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.5rem;
}
p {
  margin: 20px 0;
  line-height: 1.25;
}
ß

html, body {
  max-width: 100%;
  overflow-x: hidden;
}